*.sln
*.user
*.userprefs
*.csproj
*.pidb
*.unityproj
*.DS_Store
/Library/
/Library/FailedAssetImports.txt
/Library/cache/
/Library/Previews/
/Library/ScriptAssemblies/
/Obj
/Temp/


Library/metadata/a8/a851d09290228d844b7ce0bb550be3fc

Library/assetDatabase3

Library/assetDatabase3

Library/guidmapper
